{# Text card panel - Colored rectangle for visual break #}
<div class="w-full h-full relative">
    <div
        style="
            position: absolute;
            left: {{ panel.x }}%;
            top: {{ panel.y }}%;
            width: {{ panel.width }}%;
            height: {{ panel.height }}%;
            background-color: {{ panel.color }};
        "
    ></div>
</div>
